.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f7f9fc;
}
  
.login-card {
    max-width: 400px;
    width: 100%;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form-group {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-inline: auto;
}

.login-title {
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: bold;
}

.form-control {
    border-radius: 5px 5px 0px 0px;
    padding: 5px;
    width: 220px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid black;
}

.login-button {
    width: 80%;
    border-radius: 5px;
    padding: 8px;
    margin-inline: auto;
    font-weight: bold;
    border: none;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.login-footer {
    text-align: center;
    margin-top: 1rem;
}

.login-footer a {
    color: #007bff;
    text-decoration: none;
}

.login-footer a:hover {
    text-decoration: underline;
}