/* Global to panel */
.user-management p {
    margin-bottom: 4rem;
}

/* Filters */
.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.search-input-light {
    flex: 1;
    max-width: 300px;
    padding: 0.5rem 1rem;
    border: 1px solid #1abc9c;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #ecf0f1;
    transition: box-shadow 0.3s;
}

.search-input-dark {
    flex: 1;
    max-width: 300px;
    padding: 0.5rem 1rem;
    border: 1px solid #1abc9c;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #34495e;
    color: white;
    transition: box-shadow 0.3s;
}

.search-input-dark:focus, .search-input-light:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(52, 73, 94, 0.5);
    border-color: #1abc9c;
}

.filter-select-light {
    padding: 0.5rem 1rem;
    border: 1px solid #1abc9c;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #ecf0f1;
    transition: box-shadow 0.3s;
}

.filter-select-dark {
    padding: 0.5rem 1rem;
    border: 1px solid #1abc9c;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #34495e;
    color: white;
    transition: box-shadow 0.3s;
}

.filter-select-dark:focus, .filter-select-light:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(52, 73, 94, 0.5);
    border-color: #1abc9c;
}

/* User Table */
.user-table-light {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    font-size: 1rem;
    color: #2c3e50;
    background-color: #ecf0f1;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.user-table-dark {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    font-size: 1rem;
    color: white;
    background-color: transparent;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.user-table-dark thead, .user-table-light thead {
    background-color: #2c3e50;
    color: white;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
}

.user-table-dark th,
.user-table-dark td,
.user-table-light th,
.user-table-light td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #ecf0f1;
}

.user-table-dark th,
.user-table-light th {
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    position: relative;
    padding-right: 20px;
    transition: color 0.3s;
}

.user-table-dark th:hover,
.user-table-light th:hover {
    color: #1abc9c;
}

.user-table-dark th::after,
.user-table-light th::after {
    content: "";
    position: absolute;
    right: 10px;
    font-size: 0.8rem;
    color: #7f8c8d;
}

.user-table-dark th.sorted-asc::after,
.user-table-light th.sorted-asc::after {
    content: "↑";
}

.user-table-dark th.sorted-desc::after,
.user-table-light th.sorted-desc::after {
    content: "↓";
}

.user-table-dark tbody tr:nth-child(even) {
    background-color: #37495a;
}

.user-table-light tbody tr:nth-child(even) {
    background-color: #e1e3e4;
}

.user-table-dark tbody tr:hover,
.user-table-light tbody tr:hover {
    background-color: #1abc9c34;
}

.user-table-dark tbody tr td {
    border-bottom: 1px solid #ecf0f1;
}

.user-table-light tbody tr td {
    border-bottom: 1px solid #e1e3e4;
}

.user-table-dark tbody tr td:last-child,
.user-table-light tbody tr td:last-child {
    font-weight: bold;
}

/* Status Styles */
.status-active {
    color: #57dbc1;
}

.status-suspended {
    color: #f85442;
}
